
<mat-card class="impressum-card">
  <mat-card-header>
    <mat-card-title>Abschlussarbeit</mat-card-title>
    <mat-card-subtitle>Sommersemester 2019</mat-card-subtitle>
    <mat-card-subtitle>Von Gabriele Schäfer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
    Abschlussarbeit zum Kurs
      <br>
      <br>
    "Agile objektorientierte Software-Entwicklung mit C++ Teil II:
    Bildverarbeitung und maschinelles Sehen (Computer Vision) mit OpenCV"
      <br>
      <br>
    Bei Dr. Jan G. Wieners
    </p>
  </mat-card-content>
</mat-card>

